<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide='true' menu='attendance'>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Atendance</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-menu disabled side="start" menuId="attendance" contentId="main">
  
    <ion-content>
      <ion-menu-toggle>
        <ion-list>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
        </ion-list>
      </ion-menu-toggle>
      
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>

</ion-content>

  






