<ion-content>  
    <ion-grid  [(ngSwitch)]="type" fixed id="loginContainer"> 
      <ion-row>
        <ion-col size="12">
          <ion-segment color="warning" value="student" (ionChange) = "segment($event)">
            <ion-segment-button value="student">
              <ion-label>Student</ion-label>
            </ion-segment-button>
            <ion-segment-button value="lecturer">
              <ion-label>Lecturer</ion-label>
            </ion-segment-button>
          </ion-segment> 
            <ion-card *ngSwitchCase="'student'">
             
              <ion-card-content>
                <ion-item>
                  <ion-label color="dark" position="floating">
                    <ion-icon name="person-sharp"></ion-icon>
                    Ful name</ion-label>
                  <ion-input type="text" [(ngModel)]="full_name"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label color="dark" position="floating">
                    <ion-icon name="pricetag-sharp"></ion-icon>
                    Matric number
                  </ion-label>
                  <ion-input type="number" [(ngModel)]="matric_number"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label color="dark" position="floating">
                    <ion-icon name="key-sharp"></ion-icon>
                    password</ion-label>
                  <ion-input type="password" [(ngModel)]="password"></ion-input>
                </ion-item>
              </ion-card-content>            
                
            </ion-card>
            <ion-button *ngSwitchCase="'student'" style="margin-top: 10px;" color="medium" (click)="stud_register()" expand="block" shape="round">
              <ion-icon slot="end" name="arrow-redo-outline"></ion-icon>                Register
            </ion-button>
            <ion-button *ngSwitchCase="'student'" color="warning" (click)="gotoStudLogin()" expand="block" shape="round">
              Student Login
             </ion-button>
            <ion-card *ngSwitchCase="'lecturer'">
              
              <ion-card-content>
                <ion-item>
                  <ion-label color="dark" position="floating">
                    <ion-icon name="person-sharp"></ion-icon>
                    Ful name</ion-label>
                  <ion-input type="text" [(ngModel)]="full_name"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label color="dark" position="floating">
                    <ion-icon name="pricetag-sharp"></ion-icon>
                    username
                  </ion-label>
                  <ion-input type="text" [(ngModel)]="lectid"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label color="dark" position="floating">
                    <ion-icon name="key-sharp"></ion-icon>
                    password</ion-label>
                  <ion-input type="password" [(ngModel)]="password"></ion-input>
                </ion-item>
              </ion-card-content>            
               
            </ion-card>  
            <ion-button *ngSwitchCase="'lecturer'" style="margin-top: 10px;" color="medium" (click)="lect_register()" expand="block" shape="round">
              <ion-icon slot="end" name="arrow-redo-outline"></ion-icon>                Register
            </ion-button>
            <ion-button *ngSwitchCase="'lecturer'" color="warning" (click)="gotoStudLogin()" expand="block" shape="round">
              Lecturer Login
             </ion-button>        
        </ion-col>        
      </ion-row>
    </ion-grid>
</ion-content>
