<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="student-profile-tab/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>student-course-reg</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-card *ngIf="thereAreNoCourses">
        <ion-card-header>
          <ion-card-title>Courses are not available to you</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Contact your HOC to register this semester's courses
        </ion-card-content>
      </ion-card>
    
      <ion-col size="12" *ngFor="let class of available_courses">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{class.course_code}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
           {{class.course_title}}
          </ion-card-content>
          <ion-footer>
            <ion-toolbar>
                <ion-grid fixed>
                  <ion-row>
                    <ion-col size="6">
                      <ion-button [color]="add_color" size="small" (click)="add($event,class.course_code)" expand="block">
                        <ion-icon name="checkmark-done-sharp"></ion-icon>
                      </ion-button>
                    </ion-col>
                    <ion-col size="6">
                      <ion-button [color]="view_color" size="small" (click)="open(class.course_code)" routerLinkActive="router-link-active"  expand="block">
                        <ion-icon name="information-circle-sharp"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
            </ion-toolbar>
          </ion-footer>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-button color="warning" (click)="complete()" expand="full" fill="solid" shape="round">
          Complete
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
