<ion-header>
  <ion-toolbar>
    <ion-title>create {{course}} class</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card *ngFor="let class of courseData">
  <ion-card-header>
    <ion-img src="../../../assets/images/classroom.jpg"></ion-img>
    <ion-card-subtitle>{{class.course_code}}</ion-card-subtitle>
    <ion-card-title>{{class.course_title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label>Start Time: </ion-label>
      <ion-label class="ion-text-wrap" slot="end">{{class.course_time | date:'shortTime'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>select end time</ion-label>
      <ion-datetime slot="end" [(ngModel)]="endTime" display-format="hh:mm a"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Select class lecturer</ion-label>
      <ion-select [(ngModel)]="selectedLecturer" placeholder="Select ...">
        <ion-select-option *ngFor="let lecturer of class.course_lecturer">{{lecturer}}</ion-select-option>
      </ion-select>

    </ion-item>
    <ion-button (click)="schedule()" expand="block" fill="clear" shape="round">
      Schedule a class
    </ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
