<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide='true' menu='profile'>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-menu disabled side="start" menuId="profile" contentId="main">
  <ion-list>
    <ion-menu-toggle>
      <ion-item [routerLink]="['/student-profile-tab/profile']">
        <ion-icon slot="start" name="happy"></ion-icon>
        <ion-label class="ion-text-wrap">View Profile</ion-label>
      </ion-item>
      <ion-item *ngIf="!inCompleteProfile" [routerLink]="['/student-profile-tab/profile/edit-profile']">
        <ion-icon slot="start" name="hammer"></ion-icon>
        <ion-label class="ion-text-wrap">Edit Profile</ion-label>
      </ion-item>
      
      <ion-item *ngIf="inCompleteProfile" [routerLink]="['/student-profile-tab/profile/complete-registration']">
        <ion-icon slot="start" name="help"></ion-icon>
          <ion-label class="ion-text-wrap">Complete Profile</ion-label>
      </ion-item>
        <ion-item *ngIf="hoc" [routerLink]="['/student-profile-tab/hoc']">
          <ion-icon slot="start" name="help"></ion-icon>
            <ion-label class="ion-text-wrap">Register semester courses</ion-label>
        </ion-item>
    <ion-item [routerLink]="['/student-profile-tab/student-course-reg']">
      <ion-icon  slot="start" name="list"></ion-icon>
        <ion-label class="ion-text-wrap">Register Courses</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/home']" (click)='logout()'>
      <ion-icon slot="start" name="log-out"></ion-icon>
        <ion-label class="ion-text-wrap">Logout</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/socket']">
      <ion-icon slot="start" name="log-out"></ion-icon>
        <ion-label class="ion-text-wrap">test socket</ion-label>
    </ion-item>
    </ion-menu-toggle>
  </ion-list>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-card fixed>
        <ion-card-header color="light">
          <ion-card-subtitle>Registered Courses</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content *ngIf="isRegisteredCourses; else elseBlock1">
          <ion-chip *ngFor="let item of registered_courses" color="medium">
            <ion-label (click)="goto(item)">{{item}}</ion-label>
          </ion-chip>
        </ion-card-content>
        <ng-template #elseBlock1>
          <ion-card-content color="light">
            <ion-note>You have no registered courses yet!</ion-note> 
          </ion-card-content>
        </ng-template>
      </ion-card>
    </ion-col>
    <ion-col size="12">
      <ion-card id="ongoingclasses">
        <ion-card-header color="light">
          <ion-item color="light" lines="none">
          <ion-card-subtitle color="dark">ongoing classes</ion-card-subtitle>
            <ion-badge slot="end" color="secondary">{{ogc.length}}</ion-badge>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          <ion-list *ngIf="isOngoingClass; else elseBlock2">
            <ion-item-sliding #mysliding *ngFor="let classes of ogc">
                <ion-item (click)="presentModal(classes.course_code)" detail lines="none">
                  <ion-label class="ion-text-wrap">
                    <ion-text color="primary">
                      <h3>{{classes.course_code}}</h3>
                    </ion-text>
                    <p>{{classes.course_title}}</p>
                  </ion-label>
                </ion-item>
                <ion-item-options *ngIf="hoc" side="start">
                  <ion-item-option color="danger" *ngIf="classes.joined === true" color="secondary" (click)="endClass(classes.hoc,classes.course_code,classes.date)">end
                    <ion-icon slot="bottom" name="enter"></ion-icon>
                  </ion-item-option>
                  <ion-item-option color="danger" *ngIf="hoc && classes.joined === true" (click)="cancelClass(classes.department,classes.course_code,classes.date,classes.hoc)">Cancel
                    <ion-icon name="log-out-outline" slot="bottom"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <ng-template #elseBlock2>
          <ion-list>
            <ion-item lines="none">
              <ion-label>No on going class for now!</ion-label>
            </ion-item>
          </ion-list>
        </ng-template>
        </ion-card-content>
      </ion-card>
     </ion-col> 
     <ion-col size="12">
      <ngx-datatable class="material striped" [ngClass]="tablestyle" [rows]="rows" [columnMode]="'force'" [rowHeight]="50" [headerHeight]="50" 
      [footerHeight]="50">
        <ngx-datatable-column name= "Day" prop="class_day"></ngx-datatable-column>
        <ngx-datatable-column name= "Class" prop="course_code"></ngx-datatable-column>
        <ngx-datatable-column name= "Time" prop="class_time"></ngx-datatable-column>
        <ngx-datatable-column name="Actions" prop="name">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <ion-button size="small" (click)="getCourseHistory(row.course_code)" color="medium">
              <ion-icon name="alert-outline"></ion-icon>
            </ion-button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
     </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
  
  

