<ion-header>
  <ion-toolbar>
    <ion-title>Add a course</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="warning"  defaultHref="student-profile-tab/hoc"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <div *ngIf="notDepartmentCourse === false; else elseBlock">
    <ion-item>
      <ion-label position="floating">Course Title</ion-label>
      <ion-input [(ngModel)]="course_title"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position="floating">Course Code</ion-label>
      <ion-input [(ngModel)]="course_code"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Course start time</ion-label>
      <ion-datetime [(ngModel)]="class_date" displayFormat="HH:mm"></ion-datetime>
    </ion-item>
      <ion-item>
          <ion-label position="floating">Class Day</ion-label>
          <ion-select [(ngModel)]="class_day" placeholder="Select Class Day">
            <ion-select-option *ngFor="let day of class_days">{{day}}</ion-select-option>
          </ion-select>
      </ion-item>
    <ion-item class="item-text-wrap">
      <ion-label position="floating">Select Lecturer</ion-label>
      <ion-select [(ngModel)]="selected_class_lecturer" placeholder="Select lecturer">
        <ion-select-option *ngFor="let lecturer of hoc_department_lecturer">{{lecturer}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <ng-template #elseBlock>
    <div>
      <ion-item>
        <ion-label position="floating">Select course's campus</ion-label>
        <ion-select [(ngModel)]="selectedCampus" (ionChange)="getFaculties()" placeholder="Select...">
          <ion-select-option *ngFor="let campus of campuses">{{campus}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Select course's Faculty</ion-label>
        <ion-select [(ngModel)]="selectedFaculty" (ionChange)="getDepartments()" placeholder="Select...">
          <ion-select-option *ngFor="let faculty of faculties">{{faculty.faculty_name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Select course's Department</ion-label>
        <ion-select (ionChange)="get_non_department_courses()" [(ngModel)]="selectedDepartment" placeholder="Select...">
          <ion-select-option *ngFor="let department of departments">{{department}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Select Course</ion-label>
        <ion-select (ionChange)="get($event)" [(ngModel)]="selected_course" placeholder="Select course">
          <ion-select-option value="{{course.course_code}}"  *ngFor="let course of non_dept_courses" >{{course.course_title}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </ng-template>
  
  
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button color="medium" (click)="createClass()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
          <ion-label>Add Course</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
