<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button menu="start_menu"></ion-menu-button>
    </ion-buttons>
    
    <ion-title class="ion-text-center">Class Manager</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopup($event)">
        <ion-icon name="color-wand-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-tabs>
    <ion-tab-bar color="warning" slot="bottom">
      <ion-tab-button tab="login" (click)="loading()">
        <ion-icon name="log-in-outline"></ion-icon>
        <ion-label>Login</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="register" (click)="loading()">
        <ion-icon name="log-in"></ion-icon>
        <ion-label>Register</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
